body{
	background-color:steelblue;
	font-family:"Segoe UI",Tahoma,Helvetica,Sans-Serif;
}

footer, header{
	display:block;
}


.headerlogo img{
	vertical-align:top;
	left:.5em;
	height: 10rem;
	width: 10rem;
}

#headername{
	font-family:"Segoe UI",Tahoma,Helvetica,Sans-Serif;
	color:black;
	left:auto;
	font-size:4em;
	font-weight:bolder;
	text-shadow:3px 2px red;
}

.searchbox{
	position:absolute;
	right:.5em;
	top:.5em;
}

.navbar-background , .backgroundgradient{
	height:2.75em;
	width:100%;
	margin-bottom:.4em;
	margin-top:1.25em;
	padding-left:.4em;
}

.navbar-background ul, .backgroundgradient ul{
	list-style: none;
	padding: 0px;
}

.navbar-background ul li, .backgroundgradient ul li{
	display: block;
}

.navbar-background, .backgroundgradient{
	background-color:maroon;
}

.navlink {
	height: 35px;
	margin-right: 10px;
	font-size: 18px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 12px;
	color: white;
	text-decoration: none;
}

.navlink:hover{
	text-decoration:underline;
}

footer{
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	width:100%;
	text-align:center;
	margin:3em auto;
	padding:.5em 0;
	background-color:khaki;
}

footer p{
	color:black;
	display:inline-block;
	margin-right:1em;
}

footer address{
	color:midnightblue;
	display:inline-block;
	margin-left:-.5em;
	margin-right:auto;
}

fieldset{
	border:none;
}

.textcontent{
	color:red;
}

.textcontent a{
	color:olive;
}

.smalltext{
	color:seagreen;
}

/*index styling*/
#welcometext{
	column-count: 2;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#welcometext header{
	font-size:1.5em;
}
/*end index styling*/