body {
	background-color:olivedrab;
}

fieldset{
	font-family:Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	font-size:1.25em;
}

fieldset legend{
	font-style:italic;
}

#aboutWelcome{
	height:50%;
	width:50%;
}